.CardR {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #ECECEC;
    border: none;
    padding: 0;
    user-select: none;
    cursor: pointer;
}

.perfilLogoR {
    background: radial-gradient(at 20% 0%, #E65438, #F49640);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 40px;
}

.userInfoR {
    display: flex;
    flex-direction: column;
    color: #5E5E5D;
    margin-left: 20px;
}

.CardR h3,
.CardR h4 {
    margin: 0;
    padding: 5px;
    text-align: left;
}

.CardR h2 {
    color: rgb(255, 255, 255);
}

.CardR h4 {
    color: #A0A09F;
}