#left-friends{
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 25vw;
}

#temporary_chats {
  flex: 0 0 calc(50vh - 80px); /* El contenido dentro de #temporary_chats ocupa el 100% del espacio vertical de #left-friends. */
  background-color: rgb(30, 255, 0); /* Color de fondo de #temporary_chats (puedes personalizarlo). */
  width: 100%;
}

#Random_chat {
  background-color: rgb(245, 245, 17);
  width: 90%;
  height: 60px;

  border-radius: 20px;
}

#friends_chats {
  display: flex;
  /*gap: 10px;*/
  flex-wrap: wrap;
  /* Alinea verticalmente*/
  background-color: rgb(66, 28, 137);
  width: 100%;
}

#cont{
  height: auto;
  overflow-y: auto;
  flex: 1 0 100%;
}

#cont-all{
  height: calc(50vh - 120px);
  display: flex;
  flex-direction: column;
}
#friendsplus{
  min-height: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}