#perfilebox {
    height: 500px;
    width: 400px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 19px;
    position: absolute;
    display: flex;
    flex-direction: column;
    /* Cambia la dirección del flex container a columna */
    align-items: center;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.topPerfilebox {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    border-radius: 10px;
    height: 100px;
    width: 100%;
}

.friendRequestButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4AA359;
    color: #ffffff;
    width: 90%;
    height: 50px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    border: none;
    user-select: none;
    cursor: pointer;
}

.descriptionBox1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    height: 10%;
    width: 90%;
}

.descriptionBox2 {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height: 30%;
    width: 90%;

}

.descriptionBox3 {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height: 20%;
    width: 90%;

}

.descriptionBox1 p {
    color: black;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: bold;
}

.descriptionBox2 h4 {
    color: black;
    margin-top: 10px;
    font-weight: normal;
    /* Establece el grosor de la fuente a normal (no negrita) */
    font-size: 14px;
}

.descriptionBox3 p {
    color: black;
    margin-top: 5px;
    font-size: 14px;
}

.lan{
    font-weight: bold;
}